<!doctype html>
<html>
  <head>
    <title>List of Books at <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>List of Books at <%=shopData.shopName%></h1>
    <ul>
      <% availableBooks.forEach(function(book) { %>
        <li><strong><%= book.name %></strong> - $<%= book.price %></li>
      <% }); %>
    </ul>
    <p><a href="/">Back to Home</a></p>
  </body>
</html>